@import url('https://fonts.cdnfonts.com/css/nulshock');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nulshock', sans-serif;
}

:root {
    --primary: #190019;
}

body{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: 
    linear-gradient(to left, #2b124c9c, #190019b0), /* camada escura */
    url("/IMG/lobby/fundo/fundo_03.jpg"); /* imagem de fundo */
    background-size: cover;
    background-position: center;
    animation: degrade_background 7s infinite alternate;
    overflow: hidden;
}




header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 2px solid #522B5B;
    z-index: 1;
}

.logo {
    font-size: 30px;
    left: 0;
    top: 0;
    text-decoration-line: none;
    color: #FBE4D8;
    letter-spacing: 1px;
    font-weight: 800;
    display: flex;
    cursor:context-menu;

}
.logo i {
    margin-left: 20px;
    padding: 0;
    position: relative;
    top: 13px;
    font-size: 20px;
     cursor:pointer;
    
}
.logo i:hover {
    color: var(--primary);
}

.nav {
    display: flex;
    width: 100%;
    margin-left: 30px;

}

.nav li {
    list-style: none;
    margin: 0 10px;
}

.nav li a {
    color: #FBE4D8;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

.nav li:hover a {
    color: var(--primary);
}

.nav2 {
    display: none;
}

.option {
    display: none;
}
input {
    display: none;
}

.container {
    position: relative;
    width: 90vw;
    height: 80vh;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
    border: 2px solid #522B5B;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    backdrop-filter: blur(10px);
    z-index: 0;
}

/*-------top---------*/

.box1 {
    width: 100%;
    height: 11%;
    margin: 0;
    
    
}

.text {
    left: 0;
    top: 0;
    text-decoration-line: none;
    color: #FBE4D8;
    letter-spacing: 1px;
    font-weight: 800;
    display: flex;
    
}

.text h1 {
    cursor:context-menu;
    font-size: 30px;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}

.text i {
    margin-left: 1px;
    padding: 0;
    position: relative;
    top: -3px;
    font-size: 20px;
}

.button {
    position: relative;
    display: flex;
}

.button a {
    position: relative;
    display: inline-block;
    margin-left: 0;
    margin-top: 5px;
    margin-right: 10px;
    background-color: var(--primary);
    color: #FBE4D8;
    text-decoration: none;
    padding: 6px 20px;
    border-radius: 20px;
    border: 2px solid #522B5B;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
}


.button a {
   background: rgb(0, 0, 0, 0.5);
   border: 2px solid rgb(82, 43, 91, 0.2);
}

.button a:hover {
    background-color: var(--primary);
    border: 2px solid #522B5B;
}


/*-------bottom---------*/


.box2 {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    
   
}


.input_container {
    width: 100%;
    height: 50%;
    display: flex;
    

}
.input_container2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}


.input_b {
    position: relative;
    width: 50%;
    height: 30px;
    margin: 20px 0;
    margin-right: 10px;
    border: 2px solid #522B5B;
    overflow: hidden;
    border-radius: 40px;
    padding-left: 10px ;
}

.input_b input {
    width: 100%;
    height: 100%;
    display: inline;
    background-color: transparent;
    outline: none;
    font-size: 15px;
    color: #FBE4D8;
    position: absolute;
    top: -10px;

}

.input_b input::placeholder{
    color: #DFB6B2;
}

.input_b i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #DFB6B2;
}

.box3 {
    width: 50%;
    display: flex;
}

.box4 {
    width: 50%;
    height: 100%;
    display: flex;
    margin: 16px 10px 15px;
    padding: 0;
    flex-direction: column;
    
}

input[type="date"]::-webkit-calendar-picker-indicator{
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
        
      }



.dados {
    width: 400px;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin: 10px;
}

.dados2 {
    padding-top: 12px;
    width: 200px;
    position: absolute;
    right: 40px;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin: 10px;

}

.d {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border: 2px solid #522B5B;
    border-radius: 40px;
    overflow: hidden;
    padding-left: 10px;
}
.dados2 input {
    position: relative;
    width: 80%;
    height: 40px;
    top: -5px;
    background: none;
    display: inline;
    border: 2px solid #522B5B;
    border-radius: 40px;
    color:#DFB6B2;
    padding: 10px;
}


select {
    appearance: none;         /* remove o estilo padrão */
    -webkit-appearance: none; 
    -moz-appearance: none;    
    background: none;         /* opcional, remove fundo */
    width: 51%;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    margin-top: 10px;
    outline: none;
    background-color: transparent;
    border: 2px solid #522B5B;
    border-radius: 40px;
    color: #FBE4D8;
    padding: 10px;

}
select:focus {
    background-color: #2B124C;
    transition: 0.2s;
}





@media screen and (max-width: 950px) {

    .nav li {
        display: none;
    }

    .nav li:nth-child(1) {
        display: inline;
        font-size: 20px;
        margin-left: 0;
    }
     





     /*-----Options--------*/


    .nav2 {
    display: flex;
    text-align: end;
    position:absolute;
    top: -3px;
    right: 0;
    margin-top: 11px;
    padding-left: 5px;
    padding-bottom: 2px;
    height: auto;
    width: 142px;
    transform: translateX(142px);
    background: transparent;
    border: 2px solid #522B5B;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    backdrop-filter: blur(20px);
    padding-top: 30px;
    border-radius: 10px;
    z-index: 1;

}
.nav2 li {
    list-style: none;
    border-radius: 10px;
}

.nav2 li:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    backdrop-filter: blur(20px);
}

.nav2 li a {
    color: #FBE4D8;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 13px;
    transition: 0.3s;
}

.nav2 li:hover a {
    color: #854F6C;
    cursor: pointer;
}

.option {
    display: flex;
    position: absolute;
    top: -3px;
    right: 1px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    z-index: 2;

}

 .option i{
        display: inline;
        padding: 0;
        position: relative;
        font-size: 20px;
        color: #FBE4D8;
    }


.option i {
    margin: 5px;
}

.option i:hover {
    color: var(--primary);
    
}

.option i:nth-child(2) {
   display: none;
}


input {
   display: none;
}

input:checked ~ .nav2  {
    transform: translateX(0);
    
    
}

input:checked ~ .option i:nth-child(2) {
    display: inline;
    
    
}
input:checked ~ .option i:nth-child(1) {
    display: none;
    
    
}
   
}
